
.glivera_carousel__wrap {
    font-size: 1em;
    user-select: none;
}

.swiper.glivera_carousel__inner {
    overflow: visible;
}

.glivera_carousel__card {
    clip-path: inset(2px);
}

.glivera_carousel__picture {
    display: block;
    width: 100%;
    height: 100%;
}

.glivera_carousel__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.glivera_carousel .swiper-button-prev,
.glivera_carousel .swiper-button-next {
    --swiper-navigation-size: 4em;
    color: #fff !important;
    background-color: transparent;
    border: none;

    transition: color 0.2s ease-in-out;
}

@media (min-width: 1024px) {
    .glivera_carousel {
        padding: 4.6rem 6rem 7rem;
    }

    .glivera_carousel {
        /* 12rem - section side indents * 2 */
        font-size: calc((100vw - 12rem) / 1920 * 10);
    }

    .swiper-slide.glivera_carousel__card {
        height: 61.8em;
        width: 50.8em;
    }

    .glivera_carousel .swiper-button-prev:hover,
    .glivera_carousel .swiper-button-prev:focus,
    .glivera_carousel .swiper-button-next:hover,
    .glivera_carousel .swiper-button-next:focus {
        text-decoration: none;
        color: #f2ac2a !important;
    }
}

@media (max-width: 1023px) {
    .glivera_carousel {
        padding: 2.8rem 2.8rem 7rem;
    }

    .swiper-slide.glivera_carousel__card {
        height: 42.4em;
        width: 33em;
    }
    .glivera_carousel .swiper-button-prev,
    .glivera_carousel .swiper-button-next {
        display: none !important;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .glivera_carousel {
        /* 5.6rem - side indents * 2 */
        font-size: calc((100vw - 5.6rem) / 1024 * 20);
    }
}

@media (max-width: 767px) {
    .glivera_carousel {
        /* 5.6rem - side indents * 2 */
        font-size: calc((100vw - 5.6rem) / 390 * 10);
    }
}
