
.gtea_gallery * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.gtea_gallery {
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .gtea_gallery {
        padding: 6rem 2.4rem;
    }
}

@media screen and (max-width: 1023.5px) {
    .gtea_gallery {
        padding: 4rem 2rem;
    }
}

.gtea_gallery__container {
    max-width: 120rem;
    margin: 0 auto;
}

.gtea_gallery__title {
    font-weight: 300;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .gtea_gallery__title {
        font-size: 8rem;
    }
}

@media screen and (max-width: 1023.5px) {
    .gtea_gallery__title {
        font-size: 5rem;
    }
}

@media screen and (min-width: 1024px) {
    .gtea_gallery__title:not(:last-child) {
        margin-bottom: 1.8rem;
    }
}

@media screen and (max-width: 1023.5px) {
    .gtea_gallery__title:not(:last-child) {
        margin-bottom: 1.2rem;
    }
}

.gtea_gallery__description {
    font-weight: 300;
    text-align: center;
    line-height: 160%;
}

@media screen and (min-width: 1024px) {
    .gtea_gallery__description {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1023.5px) {
    .gtea_gallery__description {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1023.5px) {
    .gtea_gallery__description {
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 1024px) {
    .gtea_gallery__description:not(:last-child) {
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 1023.5px) {
    .gtea_gallery__description:not(:last-child) {
        margin-bottom: 4rem;
    }
}

.gtea_gallery__list {
    position: relative;
    z-index: 1;
    display: flex;
    list-style: none;
}

@media screen and (min-width: 1024px) {
    .gtea_gallery__list {
        gap: 2rem 2.4rem;
    }
}

@media screen and (max-width: 1023.5px) {
    .gtea_gallery__list {
        flex-wrap: wrap;
        gap: 2rem 2rem;
    }
}

.gtea_gallery__item {
    flex-grow: 1;

    transition: flex-grow 0.3s;
    will-change: flex-grow;
}

.gtea_gallery__item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.4rem solid #fff;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

@media screen and (min-width: 1024px) {
    .gtea_gallery__item {
        height: 41.6rem;
    }
}

@media screen and (min-width: 1024px) {
    .gtea_gallery__item.gtea_gallery__item--all_mod {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .gtea_gallery__list .gtea_gallery__item:hover {
        flex-grow: 2.1;
    }
}

@media screen and (max-width: 1023.5px) {
    .gtea_gallery__item {
        width: calc(50% - 1rem);
        height: 12.8rem;
    }
}

.gtea_gallery__link {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    color: #fff;

    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0.6rem;
    overflow: hidden;
}

.gtea_gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.gtea_gallery__img_in {
    display: block;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.gtea_gallery__data {
    display: flex;
    align-items: center;
    align-items: center;
    margin-top: auto;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1rem);
}

@media screen and (min-width: 1024px) {
    .gtea_gallery__data {
        height: 5rem;
        padding: 1rem 1.6rem;
    }
}

@media screen and (max-width: 1023.5px) {
    .gtea_gallery__data {
        height: 3.8rem;
        padding: 1rem 1.1rem;
    }
}

@media screen and (min-width: 1024px) {
    .gtea_gallery__list--active_state .gtea_gallery__data {
        opacity: 0;
    }
}

.gtea_gallery__item--active_state .gtea_gallery__data {
    opacity: 1;
}

.gtea_gallery__name {
    position: absolute;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 160%;
}

@media screen and (min-width: 1024px) {
    .gtea_gallery__name {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1023.5px) {
    .gtea_gallery__name {
        font-size: 1.6rem;
    }
}

.gtea_gallery__item--all_mod .gtea_gallery__name {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gtea_gallery__hover {
    position: absolute;
    right: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.4rem;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
    transform: translateX(100%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

@media screen and (min-width: 1024px) {
    .gtea_gallery__item:hover .gtea_gallery__hover {
        opacity: 1;
        transform: translateX(0%);
    }
}

.gtea_gallery__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    height: 2rem;
    width: 1.6rem;
}

.gtea_gallery__icon svg {
    fill: currentColor;
}
