

.hero {
    padding: 0;
}

.hero h1 {
    margin-top: 0;
}

.hero.hero--color_white_mod {
    color: #fff
}

.hero__img_w {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.hero__img {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.hero__img_w .hero__img {
    height: 100%
}


.hero--color_white_mod .hero__social_icon_w {
    color: #fff
}

.hero__social_icon_w:focus,.hero__social_icon_w:hover {
    opacity: .6
}

.hero__content {
    position: relative;
    z-index: 2;
    margin: 0 auto;
}

.hero--4_mod .hero__content {
    max-width: 81rem
}

.hero--1_mod .hero__info {
    max-width: 84rem
}

.hero--3_mod .hero__info {
    max-width: 100rem
}

.hero__info h1 {
    font-weight: 700;
    line-height: 1.2
}

.hero--3_mod .hero__info h1 {
    max-width: 68rem
}

.hero__info h1:not(.hero--color_white_mod .hero__info h1) {
    color: #000
}

.hero__info h2 {
    font-weight: 700;
    line-height: 1.2
}

.hero__info h2:not(.hero--color_white_mod .hero__info h2),.hero__info h3:not(.hero--color_white_mod .hero__info h3) {
    color: #000
}

.hero__info h3:not(:last-child) {
    margin-bottom: 2.4rem
}

.hero__info p {
    font-size: 2.2rem;
    line-height: 160%
}

.hero--5_mod .hero__info p {
    max-width: 98rem
}

.hero__info p:not(:last-child) {
    margin-bottom: 1.4rem
}


.hero_v3__info_icon {
    -webkit-box-flex: 0;
    color: #46465b;
    -ms-flex: none;
    flex: none;
    height: 2.4rem;
    margin-right: 1.5rem;
    width: 2.4rem
}

.hero_v3__info_list {
    -ms-flex-pack: start;
    -ms-flex-line-pack: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-content: stretch;
    align-items: stretch;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.hero_v3__info_item,.hero_v3__info_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start
}

.hero_v3__info_item {
    -ms-flex-pack: start;
    -ms-flex-line-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-content: center;
    align-items: center;
    color: #161833;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 2.2rem;
    line-height: 160%
}

.hero_v3__price_label {
    font-size: 2.2rem;
    line-height: 160%;
    margin-right: 2.6rem
}

.hero_v3__price {
    color: #080912;
    font-size: 4.8rem;
    letter-spacing: .0144em
}

.hero_v3__btn_w {
    width: 100%
}

/* Buttons */

.icon {
    fill: currentColor;
    display: block
}

.icon.icon--size_mod {
    height: 100%;
    width: 100%;
    display: flex;
}

.icon.icon--double_mod {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0
}

.btn_primary {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fafafc;
    color: #080912;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-family: Sohne,sans-serif;
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 6rem;
    overflow: hidden;
    padding: 0 3.2rem 0 4rem;
    position: relative;
    text-align: center;
    -webkit-transition: color .5s cubic-bezier(.22,1,.36,1);
    transition: color .5s cubic-bezier(.22,1,.36,1);
    white-space: nowrap
}

.btn_primary[type=submit] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.btn_primary:focus,.btn_primary:hover {
    text-decoration: none
}

.btn_primary:before {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(calc(100% + 2px));
    transform: translateY(calc(100% + 2px));
    -webkit-transition: -webkit-transform .5s cubic-bezier(.22,1,.36,1);
    transition: -webkit-transform .5s cubic-bezier(.22,1,.36,1);
    transition: transform .5s cubic-bezier(.22,1,.36,1);
    transition: transform .5s cubic-bezier(.22,1,.36,1),-webkit-transform .5s cubic-bezier(.22,1,.36,1);
    width: 200%;
    will-change: transform;
    z-index: 1
}

.btn_primary button {
    color: inherit;
    cursor: pointer;
    font-weight: inherit
}

.btn_primary .btn_icon,.btn_primary button,.btn_primary span {
    position: relative;
    z-index: 1
}

.btn_primary svg {
    -webkit-transition: opacity .5s cubic-bezier(.22,1,.36,1);
    transition: opacity .5s cubic-bezier(.22,1,.36,1)
}

.btn_primary:before {
    background-color: #000
}

.btn_primary:hover {
    color: #fff
}

.btn_primary:hover:before {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.btn_primary.btn_primary--icon_mod .btn_primary__arrow_r {
    display: inline-block;
    height: 2.6rem;
    margin-left: 2.8rem;
    width: 2.4rem
}
