

.gtea_hero {
    padding: 0;
}

.gtea_hero h1 {
    margin-top: 0;
}

.gtea_hero.gtea_hero--color_white_mod {
    color: #fff
}

.gtea_hero__img_w {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.gtea_hero__img {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.gtea_hero__img_w .gtea_hero__img {
    height: 100%
}


.gtea_hero--color_white_mod .gtea_hero__social_icon_w {
    color: #fff
}

.gtea_hero__social_icon_w:focus,.gtea_hero__social_icon_w:hover {
    opacity: .6
}

.gtea_hero__content {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 100%;
}

.gtea_hero--4_mod .gtea_hero__content {
    max-width: 81rem
}

.gtea_hero--1_mod .gtea_hero__info {
    max-width: 84rem
}

.gtea_hero--3_mod .gtea_hero__info {
    max-width: 100rem
}

.gtea_hero__info h1 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.8rem;
}



.gtea_hero--3_mod .gtea_hero__info h1 {
    max-width: 68rem
}

.gtea_hero__info h1:not(.gtea_hero--color_white_mod .gtea_hero__info h1) {
    color: #000
}

.gtea_hero__info h2 {
    font-weight: 700;
    line-height: 1.2
}

.gtea_hero__info h2:not(.gtea_hero--color_white_mod .gtea_hero__info h2),.gtea_hero__info h3:not(.gtea_hero--color_white_mod .gtea_hero__info h3) {
    color: #000
}

.gtea_hero__info h3:not(:last-child) {
    margin-bottom: 2.4rem
}

.gtea_hero__info p {
    font-size: 2.2rem;
    line-height: 160%;
    max-width: 70%;
}

.gtea_hero__info:not(:last-child) {
    margin-bottom: 5.6rem;
}

.gtea_hero--5_mod .gtea_hero__info p {
    max-width: 98rem
}

.gtea_hero__info p:not(:last-child) {
    margin-bottom: 1.4rem
}


.gtea_hero_v3__info_icon {
    -webkit-box-flex: 0;
    color: #46465b;
    -ms-flex: none;
    flex: none;
    height: 2.4rem;
    margin-right: 1.5rem;
    width: 2.4rem
}

.gtea_hero_v3__info_list {
    -ms-flex-pack: start;
    -ms-flex-line-pack: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-content: stretch;
    align-items: stretch;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.gtea_hero_v3__info_item,.gtea_hero_v3__info_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start
}

.gtea_hero_v3__info_item {
    -ms-flex-pack: start;
    -ms-flex-line-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-content: center;
    align-items: center;
    color: #161833;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 2.2rem;
    line-height: 160%
}

.gtea_hero_v3__price_label {
    font-size: 2.2rem;
    line-height: 160%;
    margin-right: 2.6rem
}

.gtea_hero_v3__price {
    color: #080912;
    font-size: 4.8rem;
    letter-spacing: .0144em
}

.gtea_hero_v3__btn_w {
    width: 100%
}

/* Buttons */

.gtea_icon {
    fill: currentColor;
    display: block
}

.gtea_icon.icon--size_mod {
    height: 100%;
    width: 100%;
    display: flex;
}

.gtea_icon.icon--double_mod {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0
}

.gtea_btn_primary {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fafafc;
    color: #080912;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-family: Sohne,sans-serif;
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 6rem;
    overflow: hidden;
    padding: 0 3.2rem 0 4rem;
    position: relative;
    text-align: center;
    -webkit-transition: color .5s cubic-bezier(.22,1,.36,1);
    transition: color .5s cubic-bezier(.22,1,.36,1);
    white-space: nowrap
}

.gtea_btn_primary[type=submit] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.gtea_btn_primary:focus,.gtea_btn_primary:hover {
    text-decoration: none
}

.gtea_btn_primary:before {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(calc(100% + 2px));
    transform: translateY(calc(100% + 2px));
    -webkit-transition: -webkit-transform .5s cubic-bezier(.22,1,.36,1);
    transition: -webkit-transform .5s cubic-bezier(.22,1,.36,1);
    transition: transform .5s cubic-bezier(.22,1,.36,1);
    transition: transform .5s cubic-bezier(.22,1,.36,1),-webkit-transform .5s cubic-bezier(.22,1,.36,1);
    width: 200%;
    will-change: transform;
    z-index: 1
}

.gtea_btn_primary button {
    color: inherit;
    cursor: pointer;
    font-weight: inherit
}

.gtea_btn_primary .gtea_btn_icon,.gtea_btn_primary button,.gtea_btn_primary span {
    position: relative;
    z-index: 1
}

.gtea_gtea_btn_primary svg {
    -webkit-transition: opacity .5s cubic-bezier(.22,1,.36,1);
    transition: opacity .5s cubic-bezier(.22,1,.36,1)
}

.gtea_btn_primary:before {
    background-color: #000
}

.gtea_btn_primary:hover {
    color: #fff
}

.gtea_btn_primary:hover:before {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.gtea_btn_primary.gtea_btn_primary--icon_mod .gtea_btn_primary__arrow_r {
    display: inline-block;
    height: 2.6rem;
    margin-left: 2.8rem;
    width: 2.4rem;
    line-height: 1.3;
}
